{{ $data := index site.Data site.Language.Lang }}

{{ if $data.blog.blog.enable}}
{{ with $data.blog.blog}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2> {{ with i18n "blogTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with i18n "blogTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range .posts}}
			<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
        <div class="post-block">
          <div class="media-wrapper">
            <img class="img-fluid lozad" src ="{{ .image | absURL }}">
          </div>
      
          <div class="content">
            <h3><a href="{{ .Permalink }}">{{ .titulo }}</a></h3>
            <p>{{ .resumo }}</p>
            <a class="btn btn-transparent" href="{{ .link }}" target = "_blank">{{ i18n "readMore" }}</a>
          </div>
        </div>
      </article>
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main" href="https://blog.curso-r.com" target = "_blank">{{ i18n "viewAllPost" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}
{{ end }}