{{ $data := index site.Data site.Language.Lang }}

{{ $cursos := where .Site.Pages "Type" "cursos"}}

{{ if $data.minicursos.minicursos.enable }}
{{ with $data.minicursos.minicursos }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="portfolio">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
				<h4 style = "text-align: center;">Seja membro do nosso <a target="_blank" href = "https://www.youtube.com/@CursoR6">canal no YouTube</a> e tenha acesso a diversos cursos ao vivo ao longo de todo o ano. Veja abaixo os cursos programados para este ano.</h4>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-group portfolio-filter btn-group-toggle justify-content-center d-flex flex-wrap"
					data-toggle="buttons">
					<label class="btn active">
						<input type="radio" name="shuffle-filter" value="all" checked="checked" />{{ i18n "all"}}
					</label>
						{{ $categories := slice }}
						{{ range .minicursos_item }}
						{{ range .categories }}
						{{ $categories = $categories | append . }}
						{{ end }}
						{{ end }}
						{{ range ( $categories | uniq ) }}
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
					</label>
					{{ end }}
				</div>
			</div>
		</div>

		<div class="row shuffle-wrapper justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{ range .minicursos_item }}
			<div class="col-lg-4 col-md-6 shuffle-item"
				data-groups="[{{range $index, $element:= .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
				<div class="portfolio-block text-center mb-4" style = "background-image: url('{{ .image | absURL }}' )">
				  <div class="portfolio-icon text-center">
						<i class="{{ .icon }}"></i>
					</div>
					<h3 style = "background-color: #00000055;">{{ .name | markdownify }}</h3>
					{{ $curso := index (where $cursos ".Params.nome" .name) 0 }}
					<div class="caption">
						<h4 class="mt-3">
							{{ .name }}
						</h4>
						<p>{{ .content | markdownify }}</p>
						<p><b>Início:</b> {{ .inicio }}</p>
						<p><b>Aulas às segundas-feiras, 19h</b></p>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
{{ end }}
