{{ $data := index site.Data site.Language.Lang }}

{{ if $data.skill.skill.enable }}
{{ with $data.skill.skill }}
{{"<!-- Skills -->" | safeHTML }}
<section id="skills" class="parallax-section section section-bg overly">
	<div class="container">
		<div class="row">
			{{"<!-- section title -->" | safeHTML }}
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML }}
		</div>
		<div class="row">
			<div class="col-lg-8">
				<h2>{{ .subtitle | markdownify }}</h2>
				<p> {{ .content | markdownify }}</p>
				{{ if .button.enable }}
				{{ with .button }}
				<a href="{{ .link }}" class="btn btn-main page-scroll">{{ .label }}</a>
				{{ end }}
				{{ end }}
			</div>
			<div class="col-lg-4">
				<ul class="skill-bar">
					{{ range $index, $element:= .skill_item }}
					<li>
						<p>{{ .name }}</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
								style="width:{{ .percent }}">
							</div>
						</div>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</section>
{{"<!-- /skill -->" | safeHTML }}
{{ end }}
{{ end }}
