<html>
<head>
    <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
        <title>{{ .Params.nome }} | Curso-R</title>
        <meta http-equiv="refresh" content="0; URL=https://loja.curso-r.com">
    <link rel="canonical" href="https://loja.curso-r.com">
    <link rel="shortcut icon" type="image/png" href="{{ `images/favicon.webp`| absURL }}"/>
    <link href="{{ `css/bootstrap.min.css`| absURL }}" rel="stylesheet" type="text/css">
    <link href="{{ `plugins/themify-icons/themify-icons.css`| absURL }}" rel="stylesheet" type="text/css">
    <link href="{{ `css/cursos.css`| absURL }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900&display=swap" rel="stylesheet">
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src ="https://assets.pagar.me/checkout/1.1.0//easyXDM.js"></script>
</head>
    <body>
        
    </body>
</html>
